body {
    display: flex;
    /*justify-content: center;*/
    background-color: rgb(51, 107, 156);
}

#container {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    width: 500px;
    background-color: rgb(238, 144, 36);
}

#readout {
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    font-size: 50px;
    opacity: 0.8;
    margin-top: 50px;
    height: 100px;
    width: 400px;
    background-color: white;
}

#buttoncontainer {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    height: 400px;
    width: 350px;
    margin-bottom: 20px;
    justify-content: space-between; 
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 50px;
    border: 2px solid black;
    height: 70px;
    width: 80px;
    border-radius: 50px;
    background-color: rgb(255, 166, 0);
}

.numbers:active {
    background-color: rgb(33, 16, 185);
}

#operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
    width: 220px;
    margin: 10px;
    border: 2px solid black;
}

.operator {
    background-color: olivedrab;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border: 2px solid black;
    border-radius: 30px;
    height: 40px;
    width: 45px;
    font-size: 30px;
}

.operator:active {
    background-color: rgb(33, 16, 185)
}

.results {
    background-color: rgb(72, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border: 2px solid black;
    border-radius: 30px;
    height: 40px;
    width: 75px;
    font-size: 30px;
    font-weight: bold;
}

.results:active {
    background-color: rgb(33, 16, 185)
}